$normal_color: #E4555B;
$normal_bgcolor: #FAFAFA;
$normal_borderColor: #eac2c3;
$normal_meta: #CE5C61;

$new_color: #dc4c65;
$new_bgcolor: #fdebea;
$new_meta: #dc4c65;

$raw_color: #9cb599;
$raw_bgcolor: #f0f4ee;
$raw_borderColor: #c3d4c1;
$raw_tag_color: linear-gradient(to right, #ffffff00 8%, #ecffea 47%, #ecffea 53%, #ffffff00 100%);
$raw_meta: #acba8c;

$invalid_color: #898989;
$invalid_bgcolor: #efefef;
$invalid_tag_color: linear-gradient(to right, #ffffff00 8%, #efefef 47%, #efefef 53%, #ffffff00 100%);

$clamp_color: #d8a67a;
$clamp_bgcolor: #fffaf1;
$clamp_borderColor: #d8b89c;
$clamp_open_color: #ed8b43;
$clamp_tag_color: linear-gradient(to right, #ffffff00 8%, #fffaf1 47%, #fffaf1 53%, #ffffff00 100%);
$clamp_meta: #d8a67a;
$clamp_open_bgcolor: #fff0d9;

$inclamp_borderColor:#f8cca5;
$inclamp_bgcolor:#fffbf4;

$last_poster_border-bottom: #c9bccc;

$molecule_bgColor: #623078;
$molecule_color: #FFFC00;
$spy_btn_bgcolor: #27c3a2;

$filter_border_color: #ffb9b9;
$filter_normal_color: #ea8186;
$filter_active_color: #e7484f;
$filter_active_bgcolor: #fdf0ea;
$filter_active_border_color: #dda3a5;