.members{
    display: flex;
}

.memberEmoji{
    width: 8%;
    padding-top: 8%;
    background-size: contain;
    background-repeat:no-repeat;
}
.memberEmoji_圆{
    background-image: url(../assets/emojis/rabbit.png)
}
.memberEmoji_樱{
    background-image: url(../assets/emojis/cherry-blossom.png)
}
.memberEmoji_柔{
    background-image: url(../assets/emojis/Hamster.png)
}
.memberEmoji_椰{
    background-image: url(../assets/emojis/duck.png)
}
.memberEmoji_安{
    background-image: url(../assets/emojis/dogFace.png)
}
.memberEmoji_奈{
    background-image: url(../assets/emojis/bird.png)
}
.memberEmoji_权{
    background-image: url(../assets/emojis/tangerine.png)
}
.memberEmoji_惠{
    background-image: url(../assets/emojis/fork.png)
}
.memberEmoji_仁{
    background-image: url(../assets/emojis/strawberry.png)
}
.memberEmoji_彩{
    background-image: url(../assets/emojis/dress.png)
}
.memberEmoji_珉{
    background-image: url(../assets/emojis/minguri.png)
}
.memberEmoji_燕{
    background-image: url(../assets/emojis/dacingGirl.png)
}
