@import "color";
@import "number";
@import "members";

.bar {
    position: relative;
    border-bottom: 2px solid #fff;

    @include barWidth;

    .cover{
      width: 100%;
      margin-bottom: 5px;
      border-radius: 3%;
      display: block;
    }
    .title {
      display: block;
      @include fb(1.2);
      text-align: left;
      // line-height: $fb * 1.5;
      font-weight: bold;
      text-decoration: none; 
    }
    &.noShellPoster{
      .title{
        @include fb(1);
        // line-height: $fb * 1.2;
      }
    }

  .meta {
    .tag{
        min-width: 4em;
        flex: .5;
        @media screen and (max-width:300px){
          flex: 1;
        }
        padding:0 3px;
        @include fb(.8);
    }
    .from{
        // min-width: 10em;
        flex: 1;
        @include fb(.8);
    }
    .members {
        width: 100%
    }
  }
}




// titleinfo
.titleMeta {
    font-size: 12px;
    opacity: .6;
}

.meta{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
}

// 时间相关

.tomorrow {
    opacity: .5;
}

.theDayAfterTomorrow {
    opacity: .25;
}

.poster {
  .link {
    color: $normal_color;
  }

  .link:hover {
    cursor: pointer;
  }

  .meta{
    color: $normal_meta;
  }

  &.new{
    color: $new_color;
    background: $new_bgcolor;
    .meta{
      color: $new_meta;
    }
  }
  &.invalid{
    color: $invalid_color;
    background: $invalid_bgcolor;
    opacity: .5;
    .meta,.link{
      color: $invalid_color
    }
  }
  &.raw{
    background: $raw_bgcolor;
    .meta{
      color: $raw_meta;
    }
    .link{
      color: $raw_color;
    }
  }
}
