@import "color";
@import "number";
@import "members";

// titleinfo
.titleMeta {
  font-size: 12px;
  opacity: .6;
}


// 时间相关

.tomorrow {
  opacity: .5;
}

.theDayAfterTomorrow {
  opacity: .25;
}

.poster {
  position: relative;
  border-bottom: 1px solid $normal_borderColor;
  margin-bottom: 28px;
  border-radius: 5px;

  @include posterWidth;

  // meta
  .meta {
    margin-top: 5px;
    color: $normal_meta;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }
  .from {
    @include fs(.8);
    padding: 0 3px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 15px;
  }
  .members {
    width: 100%
  }

  // 链接
  .link {
    color: $normal_color;
    display: block;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }
  }

  .coverBox {
    position: relative;
  }
  .cover {
    width: 100%;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    font-size: 14px;
  }

  .mask {
    position: absolute;
    bottom: 0;
    height: 34px;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, .5));
  }
  .sumTime{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    line-height: 18px;
    padding: 0 5px;
    color: #eee;
    background-color: rgba(0,0,0,.3);
    border-top-left-radius: 4px;
  }

  .tag,.date{
    margin: 0 auto;
    position: absolute;
    left: 10%;
    top: -20px;
    font-size: 14px;
    padding: 0 3px;
    background-size: 300% 100%;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 75%;
    margin-bottom: 5px;
    background: linear-gradient(to right, #ffffff00 8%, #ffdde9 47%, #ffdde9 53%, #ffffff00 100%);
  }
  .date{
    left: auto;
    right: 5%;
    max-width: calc(90% - 4em - 12px - 3px);
  }

  .title{
    text-align: left;
    font-weight: bold;
    overflow: hidden;
    padding: 0 3px;
    text-overflow: ellipsis;
    padding-top: 1px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include fs(1.2);
    @include eqFs('line-height',1.4);
    @include eqFs('height',1.4 * 2);
  }

  &.noShellPoster {
    .title {
      @include fs(1);
      @include eqFs('line-height',1.2);
      @include eqFs('max-height',1.2 * 2);
    }
  }

  // 新资源字条
  &.new {
    color: $new_color;
    background: $new_bgcolor;

    .meta,.tag {
      color: $new_meta;
    }
  }

  // 无效资源的字条
  &.invalid {
    color: $invalid_color;
    background: $invalid_bgcolor;
    opacity: .5;

    .meta{
      color: $invalid_color
    }
    .tag,.date{
      color: $invalid_color;
      background: $invalid_tag_color;
    }
    .link{
      color: $invalid_color
    }
  }

  // 夹子字条
  &.clamp{
    background: $clamp_bgcolor;
    border-bottom: 1px solid $clamp_borderColor;
  
    .meta{
      color: $clamp_meta;
    }
  
    .tag,.date{
      color: $clamp_color;
      background: $clamp_tag_color;
    }
  
    .title{
      color: $clamp_color
    }
  }

  // 尚未翻译的字条
  &.raw {
    background: $raw_bgcolor;
    border-bottom: 1px solid $raw_borderColor;

    .meta{
      color: $raw_meta;
    }

    .tag,.date{
      color: $raw_color;
      background: $raw_tag_color;
    }

    .title{
      color: $raw_color
    }
  }
}