@import "number";

@import "filter";
@import "introduction";

@import "poster";
@import "page";
@import "clamp";

@import "book";
@import "search";

@import "feedback";
@import "errorReport";
@import "clipBoard";

* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html{
  background: #fcfffd;
  // color: rgb(243, 211, 213);
  font-size: 96px;
  // overflow-y: overlay;
  @media screen and (max-width: 990px){
    font-size: 10vw;
  }
  body{
    margin: 0px;
  }
  #app {
    color: #E4555B;
  }
}

header{
  @include fs(1);
  margin-top: 12px;
}

footer{
  margin-top: 30px;
  @include fs(1);
}

.logo{
  margin:35px auto 10px;
}



